@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'welcome';
@import 'products';

.title h1 { color: #ffffff;
  width: 100%;
  margin-top: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 10px;
  background-color: #283646;
  font-size: 28px;
  font-weight: lighter;
  font-family: book antiqua;
  text-align: center;
}
